html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url("../img/stebackgroundimg.jpg");
    background-size: cover;
    background-position: center;
}

.container {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    margin: 20px;
    background-image: url('img/stebackgroundimg.jpg');
    background-size: cover;
    background-position: center;
}

.InfoText {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    font-size: small;
    font-weight: bold;
    margin: 10px;
    background-color: #EDF2F4;
    color: #2B2D42;
    text-align: justify;
}

.knopText {
    grid-column: 2 / span 2;
    grid-row: 4;
    font-weight: bolder;
    font-size: large;
    text-align: center;
}

.arrow {
    grid-column: 2 / span 2;
    grid-row: 4;
    margin-top: 50px;
    font-size: x-large;
    text-align: center;
}

.StemwijzerButton {
    grid-column: 2 / span 2;
    grid-row: 5;
    margin: 0 auto;
    height: 50px;
    width: 120px;
    font-size: large;
    align-items: center;
    background-color: #2B2D42;
    color: aliceblue;
    cursor: pointer;
    display: block;
    text-align: center;
}

.StemwijzerButton:hover {
    background-color: #EDF2F4;
}
.InfoText p {
margin: 10px;
}
.welkomtext{
font-size: x-large;
}