body {
    font-family: quicksand;
    margin: 0;
    padding: 0;
    background-image: url("../img/stebackgroundimg.jpg");
    background-size: cover;
    background-position: center;

}

.mainclass {
    padding: 20px;

}

.nieuws-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nieuws-item {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: #8D99AE 5px 5px 5px;
    transition: 1s; 
    text-align: center;
    
}
.nieuws-item:hover{
    background-color: #2B2D42;
}

.nieuws-item h3 {
    margin-top: 0;
}
.Linktext{
    list-style: none;
    text-decoration: none;
    color: black;
}
.Linktext:hover{
    color: white;
}
.titeltext{
background-color: white;
color: black;
padding: 20px;
border-radius: 5px;
box-shadow: #8D99AE 5px 5px 5px;
text-align: center;
}
.nieuwsContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}