.Welkomtext {
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    margin-top: 20px;
}

.StellingenStemwijzer {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    margin: 15px 0; 
    background-color: #ffff;
    color:#2B2D42 ;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
}


.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.radiobt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
    font-weight: bold;
}

.Stemwijzer {
    margin-bottom: 15px;
}

.button1 {
    display: block;
    margin: 20px auto;
    background-color: #2B2D42;
    color: aliceblue;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: large;
}

.button1:hover {
    background-color: #8D99AE;
}