.Welkomtext{
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    margin-top: 20px;
}
.StellingenStemwijzer
{
    justify-content: center;
 font-weight: bold;
    margin-left: 10px;
    gap: 15px;
}
.Stemwijzer{
    margin-bottom: 15px;
}
.button1{
    align-items: center;
    background-color: #2B2D42;
    color: aliceblue;
    cursor: pointer;
}
.button1:hover{
    background-color:  #8D99AE;
}